<div class="aboutPage">
<h2>About</h2>
  <p class="alignLeft">What's That Trailer (WTT) is a passion project created by <a href="#johnkusching" class="userLinks">John Kusching</a>, <a href="#kateweigart" class="userLinks">Kate Weingart</a> and <a href="#stevenepote" class="userLinks">Steve Nepote</a>.</p>
  <p class="alignLeft">You can view the project README <a class="userLinks" href="https://github.com/kweingart08/What-s-that-Trailer">here</a></p>

  <p class="alignLeft">Movies are announced long before they are released with exciting trailers coming out as far out as a year before release date.  With all the bustle of everyday life, often times we forget about these exciting movies.  WTT is a single-page application that helps solve the problem of forgetfulness by letting registered users add movies directly onto their user page.</p>

  <p class="alignLeft">
  Users can:
    <ul>
      <li class="alignLeft">Add movies to the WTT database</li>
      <li class="alignLeft">Edit and remove movies on the WTT database</li>
      <li class="alignLeft">Add movies to their user page from the WTT database</li>
      <li class="alignLeft">Add movies to their user page from OMDB (a seperate online database)</li>
      <li class="alignLeft">Remove movies from their user page</li>
    </ul>
  </p>
</div>
<fieldset class="userSet" id="johnkusching">
  <legend>John Kusching</legend>
  <div class="flexy">
    <div class="leftUser">
      <img class="userImage" id="myPic" src="http://i682.photobucket.com/albums/vv181/johnzxcvbnm/0a351103-aba4-406b-9d84-5293ef521ab1_zpshrkdcguo.jpg" alt="John Kusching" title="John Kusching" />
    </div>
    <div class="rightUser">
      <h4><span class="title-span">About:   </span>Full Stack Developer | Level 8 Elf Rouge</h4>
      <h4><span class="title-span">Location:   </span>Dallas, Texas</h4>
      <h4><span class="title-span">Favorite Movie:   </span>Aliens</h4>
      <h4><span class="title-span">Favorite Quote:   </span>"Game over man.  Game Over!" - Aliens</h4>
      <div class="flexy2">
        <h4><a class="userLinks" href="https://johnzxcvbnm.github.io/">Portfolio</a></h4>
        <h4><a class="userLinks" href="https://www.linkedin.com/in/kusching/">Linked In</a></h4>
      </div>
    </div>
  </div>
</fieldset>

<fieldset class="userSet" id="kateweigart">
  <legend>Kate Weingart</legend>
  <div class="flexy">
    <div class="leftUser">
      <img class="userImage" id="myPic" src="https://media.licdn.com/dms/image/C4E03AQGcTSeTRG32-A/profile-displayphoto-shrink_800_800/0?e=1538006400&v=beta&t=BucoPm89600uENcvtAVAEX-ae91O4GIJP6OmqM2UN0E" alt="Kate Weingart" title="Kate Weingart" />
    </div>
    <div class="rightUser">
      <h4><span class="title-span">About:   </span>Full Stack Developer | Engineer | Innovator</h4>
      <h4><span class="title-span">Location:   </span>Chicago, Illinois</h4>
      <h4><span class="title-span">Favorite Movie:   </span>Frequency</h4>
      <h4><span class="title-span">Favorite Quote:   </span>“Oh, no..To live....to live would be an awfully big adventure.” - Hook</h4>
      <div class="flexy2">
        <h4><a href="https://github.com/kweingart08" class="userLinks">Portfolio</a></h4>
        <h4><a class="userLinks" href="https://www.linkedin.com/in/katelynnweingart/">Linked In</a></h4>
      </div>
    </div>
  </div>
</fieldset>

<fieldset class="userSet" id="stevenepote">
  <legend>Steve Nepote</legend>
  <div class="flexy">
    <div class="leftUser">
      <img class="userImage" id="myPic" src="https://media.licdn.com/dms/image/C4E03AQFguqccEeZqsg/profile-displayphoto-shrink_800_800/0?e=1538006400&v=beta&t=3cOiMIZSan9twddheYhM8kvy8aG7UCqy3cCqNyALJu4" alt="Steve Nepote" title="Steve Nepote" />
    </div>
    <div class="rightUser">
      <h4><span class="title-span">About:   </span>Full Stack Developer | Artist | Kinda weird</h4>
      <h4><span class="title-span">Location:   </span>Austin, Texas</h4>
      <h4><span class="title-span">Favorite Movie:   </span>Forgetting Sarah Marsall</h4>
      <h4><span class="title-span">Favorite Quote:   </span>“I may be dead, but I’m still pretty. Which is more than I can say for you.” – Buffy Summers</h4>
      <div class="flexy2">
        <h4><a href="https://github.com/senepote" class="userLinks">Portfolio</a></h4>
        <h4><a class="userLinks" href="https://www.linkedin.com/in/steve-nepote/">Linked In</a></h4>
      </div>
    </div>
  </div>
</fieldset>
<br />
<br />
<br />
