<h2>About</h2>

<p>What's That Trailer is a passion project created by <a href="#johnkusching">John Kusching</a>, <a href="#kateweigart">Kate Weingart</a> and <a href="#stevenepote">Steve Nepote</a>.  You can view the project README <a href="https://github.com/kweingart08/What-s-that-Trailer">here</a></p>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

<fieldset class="userSet" id="johnkusching">
  <legend>John Kusching</legend>
  <div class="flexy">
    <div class="leftUser">
      <img class="userImage" id="myPic" src="http://i682.photobucket.com/albums/vv181/johnzxcvbnm/0a351103-aba4-406b-9d84-5293ef521ab1_zpshrkdcguo.jpg" alt="John Kusching" title="John Kusching" />
    </div>
    <div class="rightUser">
      <h4><span class="title-span">About:   </span>Full Stack Developer | Level 8 Elf Rouge</h4>
      <h4><span class="title-span">Location:   </span>Dallas, Texas</h4>
      <h4><span class="title-span">Favorite Movie:   </span>Aliens</h4>
      <h4><span class="title-span">Favorite Quote:   </span>"Game Over Man"</h4>
      <div class="flexy2">
        <h4><a href="#">Portfolio</a></h4>
        <h4><a href="#">Linked In</a></h4>
      </div>
    </div>
  </div>
</fieldset>


<fieldset class="userSet" id="kateweigart">
  <legend>Kate Weingart</legend>
  <div class="flexy">
    <div class="leftUser">
      <img class="userImage" id="myPic" src="http://i682.photobucket.com/albums/vv181/johnzxcvbnm/0a351103-aba4-406b-9d84-5293ef521ab1_zpshrkdcguo.jpg" alt="John Kusching" title="John Kusching" />
    </div>
    <div class="rightUser">
      <h4><span class="title-span">About:   </span>Full Stack Developer | Level 8 Elf Rouge</h4>
      <h4><span class="title-span">Location:   </span>Dallas, Texas</h4>
      <h4><span class="title-span">Favorite Movie:   </span>Aliens</h4>
      <h4><span class="title-span">Favorite Quote:   </span>"Game Over Man"</h4>
      <div class="flexy2">
        <h4><a href="#">Portfolio</a></h4>
        <h4><a href="#">Linked In</a></h4>
      </div>
    </div>
  </div>
</fieldset>

<fieldset class="userSet" id="stevenepote">
  <legend>Steve Nepote</legend>
  <div class="flexy">
    <div class="leftUser">
      <img class="userImage" id="myPic" src="http://i682.photobucket.com/albums/vv181/johnzxcvbnm/0a351103-aba4-406b-9d84-5293ef521ab1_zpshrkdcguo.jpg" alt="John Kusching" title="John Kusching" />
    </div>
    <div class="rightUser">
      <h4><span class="title-span">About:   </span>Full Stack Developer | Level 8 Elf Rouge</h4>
      <h4><span class="title-span">Location:   </span>Dallas, Texas</h4>
      <h4><span class="title-span">Favorite Movie:   </span>Aliens</h4>
      <h4><span class="title-span">Favorite Quote:   </span>"Game Over Man"</h4>
      <div class="flexy2">
        <h4><a href="#">Portfolio</a></h4>
        <h4><a href="#">Linked In</a></h4>
      </div>
    </div>
  </div>
</fieldset>
<br />
<br />
<br />
