<div class="home">
  <div class="header">
      <h1>{{ctrl.h1}}</h1>
  </div>

  <div class="home-content">
    <!-- link to add movie to home content list - will move you to the bottom of page where the form is -->
    <div class="add_new_movie">
      <a href="#new_movie" id="add_movie">Add Movie</a>
    </div>

    <!-- div for movie list title -->
    <div class="movie-list">
      <h2>Movie List</h2>
    </div>

    <!-- div to hold all movie content divs -->
    <div class="all-movies">
      <!-- for each movie create a new div -->
      <div class="movie_info" ng-repeat="movie in ctrl.movies">
        <!-- div for movie picture -->
        <div class="movie-pic">
          <img src="{{movie.image}}" alt="{{movie.title}}" class="movie-image">
        </div>
        <!-- div for movie info and buttons -->
        <div class="movie-content">
          <!-- top div that includes info -->
          <div class="info">
            <h4>TITLE: {{movie.title}}</h4>
            <h4>YEAR RELEASED: {{movie.year}}</h4>
            <h4>RATING: {{movie.rating}}</h4>
            <h4>DESCRIPTION: {{movie.description}}</h4>
          </div>
          <!-- bottom div inclues buttons to click -->
          <div class="options">
            <!-- add movie to watch list icon -->
            <i class="far fa-plus-square" ng-click="ctrl.addToWatch(movie)"></i>
            <!-- edit movie icon -->
            <i class="far fa-edit" ng-click="ctrl.indexOfEditFormToShow = $index"></i>
            <!-- delete movie icon -->
            <i class="far fa-trash-alt" ng-click='ctrl.deleteMovie(movie)'></i>
          </div>
        </div>
      </div>
    </div>

    <div class="new">
      <!-- add movie -  div -->
      <div class="add-movie" id="new_movie" name="add_movie">
        <form ng-submit="ctrl.createMovie()">
          <fieldset>
            <legend>Add Movie</legend>

            <div class="form-input">
              <label for="title">Title</label>
              <input type="text" name="title" ng-model="ctrl.title"/>
            </div>

            <div class="form-input">
              <label for="year">Year Released</label>
              <input type="text" name="year" ng-model="ctrl.year">
            </div>

            <div class="form-input">
              <label for="rating">Rating</label>
              <input type="text" name="rating" ng-model="ctrl.rating">
            </div>

            <div class="form-input">
              <label for="trailerUrl">Trailer URL</label>
              <input type="text" name="trailerUrl" ng-model="ctrl.trailerUrl">
            </div>

            <div class="form-input">
              <label for="imbdUrl">IMDB URL</label>
              <input type="text" name="imbdUrl" ng-model="ctrl.imbdUrl">
            </div>


            <div class="form-input">
              <label for="image">Image Link</label>
              <input type="text" name="image" ng-model="ctrl.image">
            </div>


            <div class="form-input">
              <label for="description">Movie Description</label>
              <textarea ng-model="ctrl.description" name="description"></textarea></br>
            </div>

            <br>
            <div class="form-input">
              <input type="submit" value="Add New Movie">
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>

</div>
