<div class="new">
  <!-- add movie -  div -->
  <div class="add-movie" id="new_movie" name="add_movie">
    <form ng-submit="ctrl.createMovie()">
      <fieldset>
        <legend>Add Movie</legend>

        <div class="form-input">
          <label for="title">Title</label>
          <input type="text" name="title" ng-model="ctrl.title"/>
        </div>

        <div class="form-input">
          <label for="year">Year Released</label>
          <input type="text" name="year" ng-model="ctrl.year">
        </div>

        <div class="form-input">
          <label for="rating">Rating</label>
          <input type="text" name="rating" ng-model="ctrl.rating">
        </div>

        <div class="form-input">
          <label for="trailerUrl">Trailer URL</label>
          <input type="text" name="trailerUrl" ng-model="ctrl.trailerUrl">
        </div>

        <div class="form-input">
          <label for="imbdUrl">IMDB URL</label>
          <input type="text" name="imbdUrl" ng-model="ctrl.imbdUrl">
        </div>


        <div class="form-input">
          <label for="image">Image Link</label>
          <input type="text" name="image" ng-model="ctrl.image">
        </div>


        <div class="form-input">
          <label for="description">Movie Description</label>
          <textarea ng-model="ctrl.description" name="description"></textarea></br>
        </div>

        <br>
        <div class="form-input">
          <input type="submit" value="Add New Movie">
        </div>
      </fieldset>
    </form>
    <!-- OMDB Search -->
    <form  ng-submit="ctrl.getOMDB()">

      <fieldset>
        <legend>Add OMDB Movie</legend>
<!-- ng-repeat="omdb in ctrl.omdbMovies" -->
        <div class="form-input">
          <label for="title">OMDB Title</label>
          <input type="text" name="title" ng-model="ctrl.omdbTitle"/>
                <!-- for the console log -->
          <input type="submit" value="Search OMDB"></input>
        <div>
    </form>
        <div class="form-input" ng-repeat="omdb in ctrl.omdbMovies">
          <form  ng-submit="ctrl.addNetMovie(omdb.imdbID)">

          {{omdb.Title}}
          {{omdb.Year}}
          <input type="submit" value="Add OMDB Movie">
              <!-- <img src="{{omdb.Poster}}" alt=""> -->


            </form>
          </div>
        </br>

      </fieldset>
    </form>
  </div>
</div>
