<div class="register">
  <h2 class="loginheaders">Register</h2>
  <form ng-submit="ctrl.createUser()" class="reg-form">
    <div class="reg-inputs">
      <label for="username" class="toplabels">Username</label>
      <input type="text" name="username" ng-model="ctrl.regUsername" class="reginputs">
    </div>

    <div class="reg-inputs">
      <label for="password" class="toplabels">Password</label>
      <input type="text" name="password" ng-model="ctrl.regPassword" class="reginputs">
    </div>

    <div class="reg-inputs">
        <input type="submit" value="Create User">
    </div>
  </form>
</div>
